{% extends 'layout.html' %}

{% block content %}
    <form action='show-password/' method='GET'>
        
        <!--Inputs-->
        <label for='long'>Ingresa la longitud que quieres para tu contraseña:</label>
        <input type='number' name='long' />
        
        <!--Button-->
        <input type='submit' value='Crear' />
    </form>
    
    <!--Show Password :)-->
    <div>
        {% if password %}
            <div id='show-password'>Tu nueva contraseña es: <strong>{{password}}</strong></div>
        {% else %}
            <!--Error message :(-->
            {% if messages %}
                {% for message in messages %}
                    <p id='show-message'>{{message}}</p>
                {% endfor %}
            {% endif %}    
        {% endif %}
    </div>

{% endblock %}