{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static 'css\styles.css' %} >
    <link rel="shortcut icon" href="static/media/icon_page.ico" type="image/x-icon">
    <title>Generador de Contraseñas👨🏻‍💻</title>
</head>
<body>
    <!--Title-->
    <h1><a href="{% url 'inicio' %}">Generador de Contraseñas</a></h1>

    <!--Content-->
    <div id='content'>
        {% block content %}
        
        {% endblock %}
    </div>
    
    <!--Footer-->
    <footer>
        <p>Creado y Diseñado por Manuel Bayona &copy;.</p>
        <p>25/07/2022</p>
    </footer>

</body>
</html>