<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Online | {% endblock %}</title>
</head>
<body>

    <h1>Tienda Online</h1>
    <hr>

    {% block content %}
    
    {% endblock %}

    <hr>
    <footer>
        <p>Creado Por Manuel Bayona &copy;.</p>
        <p>11/07/2022</p>
    </footer>
</body>
</html>