{% extends 'layout.html' %}

{% block title %}Buscar Artículos{% endblock %}

{% block content %}

    <!--Mensajes Flash-->
    {% if messages %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}
    <!---->

    <form action='/search/' method='GET'> <!--El action es para redireccionar-->
        <label for='article'>Buscar Artículo:</label>
        <input type='text' name='article' />
        
        <input type='submit' value='Buscar' />
    </form>

{% endblock %}
