{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

    <h2> {{title}} </h2>

    <form action={% url 'save-nota'%} method="POST">
        {% csrf_token %}

        <labe for="title">Título de la Nota:</label>
        <input type='text' name="title" placeholder='Título'/>

        <labe for="author">Autor:</label>
        <input type='text' name="author" placeholder='Autor' />

        <labe for="content">Contenido:</label>
        <textarea name="content" placeholder="Ingresa el contenido de tu nota aquí..."> </textarea>
            
        <input type='submit' value="Guardar"/>
    </form>

{% endblock content %}
