<!--Se carga los ficheros static-->
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
    <title> {% block title%} {% endblock %} | Blog de Notas </title>
</head>

<body>
    <h1>Blog de Notas</h1>
    <hr>
    <div>
    <!--De esta manera creo el menú dinámico, usando el context_processors.py y agregando en el fichero settings.py-->
        <ul>
            <li>
                <a href=" {%  url 'inicio' %} "> Inicio </a>
            </li>
   
            {% if user.email %}
                <li>
                    <a href=" {% url 'crear-nota'%} "> Crear Nota </a>
                </li>
                <li>
                    <a href=" {% url 'listar-notas' %} "> Mis Notas </a>
                </li>
                <li>
                    <a href=" {% url 'salir' %} "> Cerrar Sesión </a>
                </li>
            {% else %}
                <li>
                    <a href=" {%  url 'registrar' %} "> Registrarme </a>
                </li>
                <li>
                    <a href="{%  url 'ingresar' %}"> Iniciar Sesión </a>
                </li>
            {% endif %}
            <li>
                <a href="{%  url 'sobre-mi' %}"> Sobre Mí </a>
            </li>


        </ul>
    </div>

    <!--Cuerpo de la página-->
    <hr>
    <div id="content">

        {% block content %} 

        {% endblock %}

    </div>
    <hr>
    <div id="footer">
        <p>Built and Designed by Manuel Bayona &copy;.</p>
    </div>
</body>

</html>