{% extends 'layout.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

    <h2>Contacto:</h2>
    <!--Mostrar mensaje para cuando el usuario envíe el mensaje-->
    {% if messages %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}
    <!---->

    <!--Formulario de Contacto-->
    <form action='' method='POST'>
        {% csrf_token %}

        {{form.as_p}} {% comment "Renderizo el formulario dentro de puras etiquetas p" %}{% endcomment %}
        <input type='submit' value='Enviar' />
    </form>
    <!---->
    
{% endblock %}