<!--Widget Carrito de Compras-->
<div>
    <h3>Carrito de Compras</h3>

    <!--Columnas del carrito-->
    <div>
        <h4>Producto</h4>
        {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
                <p>{{value.name}}

                <!--Botón para eliminar el producto del carrito-->
                <a href="{% url 'eliminar-prod' value.product_id %}">Eliminar</a></p>
            {% endfor %}
    </div>
    <div>
        <h4>Cantidad</h4>
        {% for key, value in request.session.cart.items %}
            <p>{{value.quantity}} 
            <!--Botones para aumentar o disminuir la cantidad de productos-->
            <a href=" {% url 'agregar-prod' value.product_id %} ">+</a>
            <a href=" {% url 'restar-prod' value.product_id %} ">-</a>
        {% endfor %}
    </div>
    <div>
        <h4>Precio</h4>
        {% for key, value in request.session.cart.items %}
            <p>{{value.price}}</p>
        {% endfor %}
    </div>  
                
        {% else %}
            <p>Carrito de Compras Vacío!</p>

        {% endif %}
    
    {% comment "Variabe global context_processor" %}{% endcomment %}
    <div>
        <h4>Total: {{total_price}}$</h4>
    </div>

    <!--Botón para realizar el pedido-->
    {% comment "Verifico si hay artículos o no para mostrar el botón" %}{% endcomment %}
    {% if request.session.cart.items %}
        <a href="../order">Realizar Pedido</a> {% comment %}Se redirecciona a la URL del urls.py de OrdersApp{% endcomment %}
    {% endif %}

</div>