{% extends 'layout.html' %}

{% block title %}Servicios{% endblock %}

{% block content %}

    <h2>Servicios</h2>
    <div>
        {% if services %}
        <p>Hay {{services|length}} servicios disponibles actualmente:</p>
        <ul>

            {% for service in services %}
                <li>
                    <p><img src='{{service.image.url}}' width='200' height='200' /></p> <!--Para la imagen debo colocar el .url para que de esta manera me cargue la URL correspondiente de la imagen-->
                    <h3>{{service.title}}.</h3>
                    <p>{{service.content}}.</p>
                    <p>{{service}}</p>
                </li>
                <br>
            {% endfor %}

        </ul>

        {% else %}
            <p>Lo Sentimos no hay ningún servicio disponible. 😥</p>

        {% endif %} 
    </div>

{% endblock %}