{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h2>Inicio</h2>

    <!--Mensaje para registro o logeo exitoso-->
    {% if messages %}
        {% for message in messages %}
            <div>{{message}} <strong>{{user.username|upper}}</strong>.</div>
        {% endfor %}
    {% endif %}

    <!--Contenido-->
    <div id='home_text'>
        <p>◾Este es mi proyecto web realizado con Python usando el framework de desarrollo web de Django.</p>
        <p>◾La idea fué crear un proyecto completo que abarcara el desarrollo de distintos tipos de páginas web, desde una sección de contacto (con envío de correos) hasta una tienda con carrito de compras o un blog con manejo de Registro y Logeo de usuarios.</p>
        <p>◾También se mostrarán los distintos tipos de servicios haciendo como un ejemplo a una compañía de envíos.</p>
        <p>◾Se debe resaltar que se está usando distintos tipos de tablas SQL para la elaboración de este proyecto.</p>
        <p>◾Junto con el uso de apps extras y procesadores de contexto (context_processors.py) para el uso de variables globales.</p>
        <p>◾Por último en la página de contacto hay una sección en la que podrás contactarme personalmente a través de mis redes sociales.</p>
    </div>
{% endblock %}