{% comment "se cargan los ficheros static" %}{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css\styles.css' %} ">
    <link rel="shortcut icon" href=" {% static 'img\icon.ico' %} " type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title> Proyecto Web | {% block title %}{% endblock %}</title>
</head>
<body>
    
    <div id='menu'>
        <!--Title-->
        <div id='title'>    
            <h1>Proyecto Web con Django<img src="{% static 'img/django-logo.png' %}" width='30px' height='40px' /></h1>
        </div>

        <!--NavBar-->
        <div id='list_pages'>
            <ul>
                <li>
                    <a href=" {%  url 'inicio' %} "> Inicio </a>
                </li>
                <li>
                    <a href=" {%  url 'servicios' %} "> Servicios </a>
                </li>
                <li>
                    <a href=" {%  url 'tienda' %} "> Tienda </a>
                </li>
                <li>
                    <a href=" {%  url 'blog' %} "> Blog </a>
                </li>
                <li>
                    <a href=" {%  url 'contacto' %} "> Contacto </a>
                </li>
            </ul>
        </div>

        <!--Menu de Usuarios-->
        <div id='user_menu'>
            <ul>
                <!--Se muestra si se ha iniciado sesión-->
                {% if user.username %}
                    <li>
                        <a href=" {%  url 'logout' %} "> Cerrar Sesión </a>
                    </li>
                    <li id='hello'>Hola! <strong>{{user.username|upper}}</strong> 👋🏼 </li>
                <!--Caso contrario mostrará las opciones para poder ingresar-->
                {% else %}            
                    <li>
                        <a href=" {%  url 'login' %} "> Iniciar Sesión </a>
                    </li>
                    <li>
                        <a href=" {%  url 'registrar_usuario' %} "> Registrarse </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!--Contenido-->
    <div id='content'>
        {% block content %}
        
        {% endblock %}
    </div>

    <!--Footer-->
    <footer id='footer'>
        <p>Creado Por Manuel Bayona &copy;.</p>
    </footer>
    
</body>
</html>
