* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #151e33;
    margin-bottom: 80px;
}

h1 {
    margin-top: 7px;
    color: white;
    text-align: center;
}

#menu li{
    list-style: none;
    float: right;
    padding: 12px;
    margin-right: 25px;
}

#main {
    background-color: #1b263e;
    margin: 80px 25% auto 25%;
    padding: 20px 90px;
    border-radius: 8px;
    box-shadow: 1px 1px 17px 1px black;
}

a {
    color: rgb(255, 77, 77);
    text-decoration: none;
}

h2 {
    margin-bottom: 24px;
    text-align: center;
    color:white;
}

#label {
    font-weight: bold;
    padding-left: 35px;
    color: white;
}

input {
    margin: 17px 7px 12px 3px;
    background-color: #1b263e;
    border-style: solid;
    padding: 22px;
    border-radius: 7px;
    width: 430px;
    color: white;
}

#button {
    background-color: rgb(255, 77, 77);
    color: white;
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
    width: 480px;
}

input[type='text']:hover {
    background-color: #1c2942;
}

input[type='password']:hover {
    background-color: #1c2942;
}

input:focus {
    color: white;
    outline: none;
}

#message{
    background-color: rgb(32, 189, 32);
    color: white;
    width: 80%;
    padding: 25px;
    margin-left: 20px;
    border-radius: 7px;
}

footer {
    position: fixed;
    background-color: #232e47;
    padding: 20px;
    text-align: center;
    margin-top: 22px;
    margin-left: 37%;
    border-radius: 7px;
    font-weight: bold;
}