{% extends 'layout.html' %}

{% block title %}Productos con Categoría: {{category}}. {% endblock %}

{% block content %}
    <!--Menú Categorias de Productos-->
    <h3>Categorias de Productos:</h3>
    <ol>
    {% for category in categories %}
            <!--Para que me redireccione a una pagina con una categoria con su id especifico-->
        <li><a href="{% url 'productos_de_una_categoria' category.id %}">{{category}}</a></li>
    {% endfor %}
    </ol>
    <hr>

    <!--Carrito de Compras (Se motrará si se ha iniciado sesión)-->
    {% if user.username %}    
        <div>        
            {% comment "template del widget para el carrito de compras" %}{% endcomment %}
            {% include 'widget/shoppingCartWidget.html' %}

        </div>
        <hr>
    {% else %}
        <p><strong>Debes Logearte para Realizar tus Compras!</strong></p>
    {% endif %}

    <!--Title-->
    <h2>Productos que Pertenecen a {{category}}: </h2>
    <p>Se encontraron <strong>{{products|length}}</strong> productos.</p>

    <!--Listado de TODOS los Productos en la Categoría-->
    {% for product in products %}
        <img src={{product.image.url}} width='150' height='150' />
        <p><strong>{{product.name}}</strong></p>
        <p><strong>Precio:</strong> {{product.price}}$</p>
        <p><strong>Detalles del Producto:</strong> {{product.details}}</p>
        
        <!--Verifico si el producto se ha vendido o no-->
        {% if product.sold == True %}
            <p>NO Disponible ❌</p>
        {% else %}
            <p>Disponible ✅</p>
        {% endif %}
    
        <p><strong>Categoría:</strong> {{product.categories}}</p>
        <p>{{product}}</p>

        <!--Botón para el carrito de compras-->
        <div>   
            {% comment "Se agrega al carrito con el id del producto" %}{% endcomment %}     
            <a href=" {% url 'agregar-prod' product.id %} ">Agregar al carrito</a>
        </div>
        <br>
        <br>
    {% endfor %}

{% endblock %}