* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 128, 0);
}

a{
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 9px;
}

a:hover{
    background-color: lightgray;
    border-radius: 9px;
    color: black;
    transition: all 0.5s;
}

/*Title*/
#title {
    padding: 25px;
    padding-left: 150px;
    padding-right: 80px;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#title img{
    padding-left: 25px;
}

footer{
    padding: 25px;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    text-align: center;
    margin: 20px 30% 20px 30%;
    grid-row: 3;
    border-radius: 13px;
}
/**/

/*Menu, NavBar, user_menu*/
#menu{
    display: grid;
}

#list_pages {
    background-color: rgb(83, 83, 83);
    grid-column: 1;
    grid-row: 1;
    padding-left: 25px;
    padding-top: 25px;
}

#list_pages li{
    float: left;
    list-style: none;
    padding: 10px;
}

#user_menu {
    background-color: rgb(83, 83, 83);
    padding: 10px;
    grid-column: 3;
    grid-row: 1;
    padding-right: 50px;
    padding-top: 25px;
}

#user_menu li{
    float: right;
    list-style: none;
    padding: 10px;
}

#hello{
    color: white;
}

#hello:hover{
    color: rgb(255, 255, 103);
}
/**/

/*Content*/
#content {
    margin: 20px 25% 0 25%;
    padding: 50px;
    background-color: lightgray;
    border-radius: 13px;
    grid-row: 2;
}

#home_text p{
    padding: 15px;
}
/**/
