{% extends 'layout.html' %}

{% block title %}Posts con {{category}} {% endblock %}

{% block content %}

    <h2>Post que Pertenecen a {{category}} </h2>
    {% for post in posts %}

        <!--Por si el Post tiene imágenes-->
        {% if post.image %}
            <p><img src='{{post.image.url}}' width='400' height='300'  /></p>
        {% endif %}

        <h4>{{post.title}}.</h4>
        <p>{{post.content}}.</p>

        <p>Categoría: 
            {% for category in post.category.all %}
                | {{category.name}} |
            {% endfor %}
        </p>
        
        <p>Subido Por: <strong>{{post.author}}.</strong></p>
        <p>{{post}}</p>
        <br>

    {% endfor %}

{% endblock %}